body {
	margin: 0;
	background-color: #FFF;
	font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #40403E;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid;
	color: #31312F;
}

a:hover {
	color: #D8924E;
}

.container {
	max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.clearfix {
  overflow: auto;
}

.container-tall {
	margin: 200px auto;
}

.container-tall-contact {
  margin: 200px 0 auto;
}

.container-about-h1 {
	border-bottom: 2px dotted #D8924E;
	padding-bottom: 15px;
}

.hero {
	overflow: hidden;
  background-image: url(../img/header3.0.jpg) ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-hd {
	color: #FFF;
	display: inline-block;
  margin: 200px 0 auto;
  padding: 15px;
  font-size: 50px;
  line-height: 1.2;
  border-right: 2px solid white;
  border-left: 2px solid white;
  /*font-family: 'Shadows Into Light', cursive;*/
}

.hero-hd-3 {
	color: #FFF;
  margin-bottom: 200px;
  font-size: 50px;
  /*font-family: 'Shadows Into Light', cursive;*/
}

.hero-hd-contact {
  color: #FFF;
  display: inline-block;
  margin: 200px auto;
  padding: 15px;
  font-size: 50px;
  line-height: 1.2;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.meetUp {
	overflow: hidden;
  background-image: url(../img/meet.jpg) ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.meet-hd {
	color: #FFF;
	display: inline-block;
  margin: 200px 0 auto;
  padding: 15px;
  font-size: 32px;
  line-height: 1.2;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.meet-hd-3 {
	color: #FFF;
  margin-bottom: 200px;
}

.letsMeet {
	color: #FFF;
  border-bottom: none;
}

#letsMeet:hover {
	color: #31312F;
	border-bottom: none;
}

/* Header Navigation */

.mainNav > * {
	display: inline-block;
  margin: 0 15px;
  font-size: 14px;
  font-weight: 700;
  color: #40403E;
  border-bottom: none;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 250px;
  height: auto;
}

#nameLogo:hover {
	color: #31312F;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Contact Page */

.container-half {
  padding-top: 30px;
  margin-left: -5%;
  text-align: center;
  overflow: hidden;
}

.container-half-content {
  float: none;
  margin: 0 0 60px 5%;
  width: 100%;
}

.icon-block {
  padding-top: 109px;
}

#block-icon {
  padding-top: 26px;
}

#startConvo {
  text-align: center;
}

#icon {
  border-bottom: none;
  margin-right: 70px;
}

/* Projects */

.content {
    padding: 90px 0;
}

.content-hd {
    margin: 0;
    padding: 0 0 15px;
    line-height: 1.2;
    border-bottom: 2px solid #D8924E;
}

.portfolio {
    padding-top: 30px;
    margin-left: -5%;
    text-align: center;
}

.portfolio-block {
    float: none;
    margin: 0 0 60px 5%;
    width: 100%;
}

.portfolio-block-img {
    width: 100%;
    height: auto;
}

.portfolio-block-hd {
    font-size: 1em;
    text-align: left !important;
    padding: 0;
    margin: 0;
}

.portfolio-block-category {
    font-size: .75em;
    text-align: left !important;
    padding-bottom: 15px;
    margin: 0;
}

/* Form */

.form-group {
    overflow: hidden;
}

.form-control {
    display: block;
    width: 88%;
    margin: 30px 0 0;
    padding: 15px 9% 15px 3%;
    background: #f0f0f0;
    border: 0;
    border-radius: 6px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}

.form-control:focus {
    outline: 0;
    color: white;
    background: #3ABD9D;
}

/* Buttons */

.btn {
    display: block;
    width: auto;
    margin: 30px 0 0;
    padding: 15px 30px;
    text-align: center;
    border: 0;
    color: white;
    background: #D8924E;
    border-radius: 6px;

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}

.btn:hover {
    color: white;
    opacity: 0.7;
}

.btn:active,
.btn:focus {
    outline: 0;
    opacity: 1;
}

/* Font Awesome */

/*.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}*/

@media screen and (min-width: 600px) {
  .mainNav {
    float: right;
    padding: 35px 0 0;
    text-align: right;
  }

  .logo {
  float: left;
  margin: 30px 0;
  }

  .portfolio-block {
  float: left;
  width: 45%;
  }

.container-half-content {
    float: left;
    width: 45%;
  }

  .btn {
  display: inline-block;
  }
}

@media screen and (max-width: 600px) {

  .header {
    text-align: center;
  }

  .mainNav {
    padding-bottom: 10px;
  }

  #mainNavSoShow.hidden {
    display: hidden;
  }
}

.desktopOnly { display: none; }

@media screen and (min-width: 600px) {
    .desktopOnly {
        display: inline-block;
    }

    .logo {
        float: left;
        margin: 30px 0;
    }

    .mainNav {
        float: right;
        padding: 35px 0 0;
        text-align: right;
    }

    .mainNav > * {
        margin: 0 0 0 30px;
    }

    .mainNav > *:last-child {
        margin-left: 5px;
    }

    .btn {
        display: inline-block;
    }

    .btn_right {
        float: right;
    }

    .portfolio-block {
        float: left;
        width: 45%;
    }
}








